streamlit
python-telegram-bot
langchain
langchain-core
langchain-community
langchain-groq
langchain-nvidia-ai-endpoints
langchain-text-splitters
langchain-huggingface
sentence-transformers
pypdf
faiss-cpu
huggingface-hub
